<div class="container mt-4 mb-3">
  <div class="card-body">
    <img class="card-img img-fluid" src="{{course.image}}">

    <table class="table table-striped">
      <tbody>
      <tr>
        <td>Course Name:</td>
        <td>
          <dt>{{course.courseName}}</dt>
        </td>
      </tr>
      <tr>
        <td>ECTS:</td>
        <td>{{course.numberOfECTS}}</td>
      </tr>
      <tr>
        <td>Semester:</td>
        <td>{{course.numberOfSemester}}</td>
      </tr>
      <tr>
        <td>Typ Kursu:</td>
        <td>{{course.typeOfCourse}}</td>
      </tr>
      <tr>
        <td>Max Students:</td>
        <td>{{course.maxNumberOfStudents}}</td>
      </tr>
      <tr>
        <td>Liczba zapisanych na kurs:</td>
        <td>{{course.numberOfStudents}}</td>
      </tr>
<!--      <tr>-->
<!--        <td>Ocena:</td>-->
<!--        <td>{{this.rank}}</td>-->
<!--      </tr>-->
      <tr></tr>
<!--      <tr>-->
<!--        <td>Ocena Kursu:</td>-->
<!--        <td> {{course.rank}}</td>-->
<!--              <td> {{courseRating()}}<br>-->
<!--                <ng-template #t let-fill="fill">-->
<!--                                    <span class="star" [class.full]="fill === 100">-->
<!--                                    <span class="half" [style.width.%]="fill">&#9733;</span> &#9733; </span>-->
<!--                </ng-template>-->
<!--                <ngb-rating [rate]="courseRating()" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>-->
<!--              </td>-->
<!--      </tr>-->
      </tbody>
    </table>
  </div>
</div>


<div *ngIf="!vote"class="container">
  <div class="row ">
    <div class="col-5 ">
      <p class="lead  ml-0">Oceń kurs</p>
    </div>
    <div class="col-7 text-right">
      <div class="rating">
        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5" (click)="rateCourse(5)">5 stars</label>
        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4" (click)="rateCourse(4)">4 stars</label>
        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3" (click)="rateCourse(3)">3 stars</label>
        <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2" (click)="rateCourse(2)">2 stars</label>
        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1" (click)="rateCourse(1)">1 star</label>
      </div>
    </div>
  </div>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 text-center">
      <a routerLink="/myCourses" class="btn btn-outline-secondary ml-2"(click)="joinCourse()"style="cursor: pointer;">Zapisz się na kurs</a>
    </div>
  </div>
</div>

